<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/home/oem/Desktop/fontawesome-free-6.0.0-web/css/all.css">
    <script src="../../vue.min.js"></script>
</head>

<body>

    <div id="app">
        <div>
            <label>Celcius</label>
            <input type="number" v-model="cel" v-on:input="clear()">
        </div>
        <button v-on:click="convert()">
            <i class="fas fa-arrow-right-arrow-left"></i>
        </button>
        <div>
            <label>Fahrenheit</label>
            <input type="number" v-model="fah" v-on:input="clear()">
        </div>
    </div>

    <script src="app.js"></script>
</body>

</html>