* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgray;
}

.container {
    width: 400px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 2px 10px -1px rgba(0,0,0,.2);
}

img {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    margin-bottom: 1rem;
}

.btn-box {
    text-align: center;
}

button {
    background-color: rgb(22, 171, 216);
    font-size: 18px;
    border: none;
    border-radius: .25rem;
    color: white;
    padding: .25rem 1.25rem;
    margin: 0 1rem;
    cursor: pointer;
    margin-bottom: .5rem;
}

button:hover {
    transform: scale(.95);
}