<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="../../vue.min.js"></script>
</head>
<body>
    
    <div id="app">
        <div class="form">
            <p v-if="loginState">Succesfull</p>
            <h1>Login</h1>
            <input type="text" placeholder="Email" 
                v-model="email" 
                v-bind:class="{ error: emailState}"
                v-on:input="emailState = false"
            >
            <input type="password" placeholder="Password" 
                v-model="password"
                v-bind:class="{ error: passwordState}"
                v-on:input="passwordState = false"
            >
            <button v-on:click="isSubmit">Submit</button>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>