* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section p {
    font-size: 48px;
}

.footer {
    background-color: #24262b;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer__col {
    margin: 4rem .25rem;
}

.col__head {
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
    margin-bottom: 35px;
    position: relative;
}

.col__head::before {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 50px;
    background-color: #e91e63;
    bottom: -10px;
}

.box__link {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    text-transform: capitalize;
    transition: all .3s ease;
}

.col__box:not(.social) .box__link:hover {
    color: #fff;
    padding-left: 10px;
}

.social .box__link {
    display: inline-block;
    margin-bottom: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(255,255,255,.2);
    margin-right: 20px;
    position: relative;
}

.social__link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social .box__link:hover {
    color: #24262b;
    background-color: #fff;
}

@media screen and (max-width: 1000px) {
    .footer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .footer__col {
        margin: 0;
        margin-top: 4rem;
        margin-left: 1rem;
    }
}